<h{{ .Level }} id="{{ .Anchor | safeURL }}" class="heading">
  {{- .Text | safeHTML -}}
  <a href="#{{ .Anchor | safeURL }}">
    <svg role="img" aria-labelledby="{{ .Anchor | safeURL }}-IconTitle" fill="var(--color-primary)" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg" class="link-icon">
      <title id="{{ .Anchor | safeURL }}-IconTitle">Link to this heading</title>
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M8.7,1.5h2.8h7.1c0.8,0,1.4,0.6,1.4,1.4s-0.6,1.4-1.4,1.4h-1.4v14.9c0,0.7-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4V4.2H13v14.9c0,0.7-0.6,1.4-1.4,1.4s-1.4-0.6-1.4-1.4v-4.1H8.7c-3.9,0-7.1-3-7.1-6.8S4.8,1.5,8.7,1.5z"></path>
    </svg>
  </a>
</h{{ .Level }}>