.toc {
  list-style: none;
  @include respond-to('x-large') {
    position: sticky;
	  top: 2rem;
	  align-self: start;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    overflow-y: scroll;
  }
}

.toc-header, .toc-drop-icon {
  @include font-size('sm');
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.toc-contents {
  display: none;
  @include font-size('sm');

  &--active {      
    display: block;
  }

  @include respond-to('x-large') {
    display: block;

    &--active {      
      display: none;
    }
  }
}

#js-toc-toggle {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 20px;
  background-color: var(--color-contrast-lower);
  border-radius: 20px;

  &:hover {
    cursor: pointer;
    color: var(--color-primary);
  }
}

.toc ul {
  list-style-type: none;
  padding-left: 0; /* 重置默认的内边距 */
  margin-left: 0; /* 重置默认的外边距 */
}

/* 为所有的li定义通用样式 */
.toc li {
  margin-bottom: 0.5rem; /* 为每项添加一些底部空间 */
}

/* 为二级目录项添加适当的缩进 */
.toc li ul li {
  padding-left: 1rem; /* 或者使用适当的值调整缩进 */
}
