<footer>
  {{/*  {{ if (or (.Param "newsletter") (and (.Site.Params.global_newsletter) (not (isset .Params "newsletter")))) }}
    {{ partial "footer/newsletter.html" . }}
  {{ end }}  */}}
  <div class="section footer">
    <p class="footer-copyright">&copy; 2022 - {{ now.Format "2006" }} &middot; 
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><br>
      {{ with .Site.Params.footer_text | markdownify }}
        <span> {{ . }}</span>
      {{ end }}
    </p>
    {{ if .Site.Params.busuanzi -}}
    <div class="busuanzi-footer">
      <span id="busuanzi_container_site_pv">
        Total access: <span id="busuanzi_value_site_pv"></span>;
      </span>
      <span id="busuanzi_container_site_uv">
        Total visitors: <span id="busuanzi_value_site_uv"></span>;
      </span>
      Total pages: {{ len (where .Site.RegularPages "Kind" "page") }};
      {{$scratch := newScratch}}
      {{ range (where .Site.Pages "Kind" "page" )}}
          {{$scratch.Add "total" .WordCount}}
      {{ end }}
      Total wordcount: {{$scratch.Get "total" }}
    </div>
    <br>
    {{- end -}}
    {{ if eq .Site.Params.footer_socials true }}
      <div class="footer-socials">
        {{ partial "general/social-links.html" . }}
      </div>
    {{ end }}
  </div>
</footer>